@font-face {
	font-family: 'Salesforce Sans';
	src: url("../fonts/SalesforceSans-Light.woff2") format("woff2"), 
		 url("../fonts/SalesforceSans-Light.woff") format("woff");
	font-weight: 300;
}
  
@font-face {
	font-family: 'Salesforce Sans';
	src: url("../fonts/SalesforceSans-LightItalic.woff2") format("woff2"),
		 url("../fonts/SalesforceSans-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Salesforce Sans';
	src: url("../fonts/SalesforceSans-Regular.woff2") format("woff2"),
		 url("../fonts/SalesforceSans-Regular.woff") format("woff");
	font-weight: 400;
}

/* reset */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
    font-family: 'Salesforce Sans', Helvetica, Arial, sans-serif;
    color: #080707;
	padding: 0rem;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

header {
	display: block;
	padding: 1.3rem 0;
	border-bottom: .07em solid #eee;
}

@media all {
	html {
		font-size: 18px;
	}
	body>* {
		font-size: 100%;
		margin-left: 7.5rem;
		margin-right: 7.5rem;
	}
}

@media all and (max-width:840px) {
	html {
		font-size: 15px;
	}
	body>* {
		margin-left: 5.5rem;
		margin-right: 5.5rem;
	}
}

@media all and (max-width:760px) {
	body>* {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}

@media all and (max-width:580px) {
	body>* {
		margin: .7rem 1.5rem 0 1.5rem;
	}
}

h2,
h3,
h5,
h6 {
	line-height: 1.35;
}

h1 {
	font-family:'Salesforce Sans';
    font-size: 1.8em;
    font-weight: 300;
    color: #16325c;
}

h2, h3 {
	margin-top: 1.5em;
	margin-bottom: .6em;
	font-family:'Salesforce Sans';
	font-weight: 400;
	color: #16325c;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

figcaption h4 {
	font-size: 0.9em;
	font-weight: 300;
}

div.content {
	display: block;
	padding: 1rem 0;
	color: #5876a3;
	font-size: 0.875rem;
}


div.global-header{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center; 
    align-items: center; 
}


div.gravatar img{
	width:128px;
	border-radius:50%;
}

div.site-title{
    padding-left: 1em;
    flex: 1;
}

div.site-title a{
	font-family: 'Salesforce Sans';
    color:#16325c;
}

div.site-title p{
	margin-top: 0.5em;
}

div.social-icons a{
    width:20px;
    display: inline-block;
    height: 20px;
    margin: 0.1rem 0;
	padding: 5px;
	color: #16325c;
}

div.social-icons a svg{
	fill: currentColor;
}

div.social-icons a.none svg{
	fill: none;
}

@media screen and (max-width:768px) {
	div.global-header {
		flex-wrap: wrap;
	}

	div.social-icons {
		margin-top: 0.5em;
		width: 100%;
	}
}

@media screen and (min-width:768px) {
	div.social-icons {
		max-width: 110px;
	}
}

@media all and (max-width:520px) {
	div.content {
		padding: 0;
	}
}

footer {
	display: block;
    padding: .5rem 0 5.5rem 0;
    
}

footer p{
    font-size: 90%;
    color: #3e3e3c;
}

aside {
	font-size: .9em;
	line-height: .9;
	color: #7a8288;
}

aside em {
	font-size: .7rem;
}

p {
	margin-bottom: 1em;
	line-height: 1.45;
}

p.date {
	font-size: 0.875rem;
	color: #3e3e3c;
}

ul,
ol {
	margin-bottom: 1em;
	padding-left: 1em;
}

li {
	line-height: 1.75em;
	margin-left: .75em;
}

table {
	margin-bottom: 1.5rem;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	width: 95%;
}

td,
th {
	text-align: left;
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

img {
	display: inline-block;
	border-radius: 5px;
	max-width: 100%;
}

a {
	color: #006dcc;
	text-decoration: none;
}

a:active {
	color: #777;
}

a:hover {
	color: #0366d6;
}

p a {
	color: #0366d6;
}

code,
pre {
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

code {
	padding: .25em .25em;
	background: #f3f3f3;
	font-size: 90%;
	margin-bottom: 20px;
}

pre {
	font-size: .9rem;
	background: #f3f3f3;
	padding: 1em;
	margin-bottom: 20px;
	overflow-x: auto;
	vertical-align: text-bottom;
}

figure {
	margin-top:15px;
	margin-bottom:10px;
}

figure, twitter-widget {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style: italic;
	color: #666665;
	outline: 0;
	z-index: 300;
	text-align: center;
}

blockquote {
	border-left: 3.5px solid #0594cb;
	margin: .7em 10px;
	padding: .7em 20px;
}

blockquote p {
	display: inline;
}
